@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background: #181820;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.created-dialog::before {
  content: '';
  display: flex;
  position: absolute;
  top: -15px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
 border-width: 0 14.5px 17px 14.5px;
  border-color: transparent transparent #262626 transparent;
}

.created-dialog::after {
  content: '';
  display: flex;
  position: absolute;
  bottom: 3px;
  height: 6px;
  background-color: #ea2088;
  border-radius: 0 0 0.75rem 0.75rem;
  animation: load 2.8s forwards;
  left: 0;
}

@keyframes load {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}